html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

.container {
    border-left: 1px solid hsl(0, 0%, 83%);
    border-right: 1px solid hsl(0, 0%, 83%);
    width: 50%;
    height: 100%;
    margin: 0 auto 0 auto;
}

.box div {
    color: #888;
    font-size: 16px;
    margin-bottom: 2px;
}

.box {
    width: 70%;
    margin: 0 auto 20px auto;
    padding-top: 20px;
}

.box:last-child {
    padding-top: 0;
}

textarea {
    width: 99%;
    border: 1px solid hsl(0, 0%, 83%);
    font-size: 20px;
    background-color: hsl(0, 0%, 96%);;
}

button {
    width: 144px;
    color: hsl(80, 12%, 95%);
    font-weight: bold;
    font-size: 16px;
    border-style: solid;
    border-width: 0 0 2px 0;
    background-color: hsl(220, 30%, 50%);
    border-bottom-color: hsl(220, 30%, 30%);
    height: 35px;
    padding: 3px 8px 0 8px;
    outline: none;
    float: right;
}

button:hover {
    background-color: hsl(220, 30%, 60%);
    border-bottom-color: hsl(220, 30%, 35%);
}